[Unit]
Description=Display device tree overlay for the egg breeding machine
After=MotorDriver.service

[Service]
Type=oneshot
ExecStart=dtoverlay $(pwd)/display.dtbo

[Install]
WantedBy=multi-user.target