[Unit]
Description=Display driver for the egg breeding machine
After=DisplayDTO.service

[Service]
Type=oneshot
ExecStart=/sbin/insmod $(pwd)/ssd1306_i2c.ko

[Install]
WantedBy=multi-user.target