[Unit]
Description=Egg breeding machine
After=GPIODriver.service

[Service]
ExecStart=$(pwd)/bin/EggIncubator
WorkingDirectory=$(pwd)/bin
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target